* {
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-family: 'Rubik', sans-serif;
  }
  body {
    display: flex;
    flex-wrap: wrap;
  }
  .big_cont {
    border: 2px solid hsl(21.65deg 79% 60.78%);
    width: 70%;
    padding-left: 20px;
    background-color: #efefef;
    height: 100vh;
  }
  @media screen and (max-width: 600px) {
    .big_cont {
      height: auto;
    }
  }
  .title1 {
    text-align: center;
    color: #78b569;
    padding: 20px;
    font-family: 'Dosis', sans-serif;
  
  }
  .left_tit {
    padding-left: 20px;
  }
  .right_tit {
    padding-right: 10px;
  }
  .second_tit {
    display: flex;
    justify-content: space-between;
  }
  .hr {
    border: solid 1px hsl(21.65deg 79% 60.78%);
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 15px;
  }
  
  input[type="checkbox"]:checked {
    background-color: #78b569 !important;
    border: #78b569;
  }
  .big_cont label:hover {
    color: #78b569;
  }
  .big_cont label {
    width: 300px;
  }
  .cont {
    display: flex;
    flex-wrap: wrap;
  }
  /*--------------------------------------------------------------------------*/
  .second_big_cont {
    border: 2px solid hsl(21.65deg 79% 60.78%);
    margin: 10px;
    padding: 10px;
    width: 280px;
    height: max-content;
    background-color: #efefef;
  }
  .clear {
    text-align: end;
    display: none;
  }
  
  .center {
    text-align: center;
  }
  
  .btn1 {
    text-align: center;
    border: solid 1px #78b569;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 30px 0px 30px;
  }
  .btn1:hover {
    background-color: #78b569;
    color: white;
  }
  .selected_bar label:hover {
    color: red;
  }
  .selected_bar label {
    width: 300px;
  }
  .clear:hover {
    color: red;
  }
  .second_big_cont input[type="checkbox"]:hover {
  /*Background-image: url("6276642.png");*/
  }
  